.text-white{ color: #fff; }
.bg-white{ background-color:#fff;}

.bg-black{background-color: #000;}
.text-black{color:#000;}

.bg-green{background-color: lightgreen;}
.text-white{color:bisque;}

.candidate_photos{
    width: 80px;
    height: 80px;
    border: 1px solid #000;
    border-radius: 100%;
}